header {
    background-color: grey;
    padding: 30px;
}

h1 {
    margin-top:  20px;
}

.sub-title {
    background-color: darkgray
}

.sidebar {
    background-color: blueviolet;
}

.fond {
    background-color: cadetblue;
}

.information {
    background-color: rgb(17, 105, 32);
}