header {
    
    padding: 30px;
}
section {
    background-color: rgb(0, 0, 0);
    height:510px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

h1 {
    margin-top:  20px;
}


h2, .certificat, li {
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: circle;
  }
  


.certificate {
    padding-top: 30px;
}


.menu {
    padding-top: 3em;
    margin-bottom: 3em;
}

h2 {
    font-size: 3,5em;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

/* New */
.personal_information {
    margin-top: 3em;
}

.button {
    color: white;
}

.lien_linkedin {
    color: orangered;
}

.list_skills {
   
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.list_training {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.list_xp, .vertical_name {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.vertical_name {
    font-size: 1.5em;
}

.information {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.hobbies {
    color: black;
}

.formation, .experience, .personal_information, .title_certificate {
    color: rgb(255, 255, 255);
}
.title_hobbie {
    font-size: 1.75rem;
}

@media screen and (max-width: 767px)
{
    section {
        background-color: rgb(0, 0, 0);
        height:1000px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    h2 {
        font-size: 3,5em;
        writing-mode: horizontal-tb;
    }
}